<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcgis-runtime-samples-java-master/src/main/java/com/esri/samples/displayinformation/dictionary_renderer_graphics_overlay/DictionaryRendererGraphicsOverlaySample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.esri.samples.displayinformation.dictionary_renderer_graphics_overlay.DictionaryRendererGraphicsOverlaySample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcgis-runtime-samples-java-master"/>
</launchConfiguration>
